= link_to 'Back', root_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      .govuk-panel.govuk-panel--confirmation
        .govuk-panel__title
          Account created
        .govuk-panel__body
          An account has been created for
          %br
          %strong SOMETHING HERE
      %p
        We have sent you a confirmation email.
      %h2.govuk-heading-m
        What happens next
      %p
        The users you added will recieve invites to create their accounts. They will be able to use this account to upload your fleet and pay.
      %p
        If you need to add more users you can
        = link_to("log in here.", company_log_in_path)
