%article.dashboard-total-group.govuk-grid-column-one-third
  %p.govuk-body{class: 'govuk-!-font-size-16 govuk-!-margin-top-9'}
    %strong
      = link_to("#{current_user.actual_account_name} payment history".html_safe, company_payment_history_path, id: 'company-payment-history')
  %p.govuk-body View payments made by your team members.
