- formatted_date = @bath_d_day_date&.strftime('%e %B')

.govuk-grid-row
  .govuk-grid-column-full
    = render 'shared/warning' do
      = "We will add new features when charging starts on #{formatted_date} allowing you to pay to drive in Bath."
