%article.dashboard-total-group.govuk-grid-column-one-third
  %p.govuk-body{class: 'govuk-!-font-size-16 govuk-!-margin-top-9'}
    %strong
      = link_to('Create a Direct Debit mandate', debits_path, id: 'direct-debit')
  %p.govuk-body Create a Direct Debit mandate to allow BACS payments
