%article.dashboard-total-group.govuk-grid-column-one-third
  - if @mandates_present
    %p.govuk-body{class: 'govuk-!-font-size-16 govuk-!-margin-top-9'}
      %strong
        = link_to('Your Direct Debits', debits_path, id: 'direct-debit')
    %p.govuk-body View the Direct Debits you’ve created with each zone.
  - else
    %p.govuk-body{class: 'govuk-!-font-size-16 govuk-!-margin-top-9'}
      %strong
        = link_to('Set up a Direct Debit', debits_path, id: 'direct-debit')
    %p.govuk-body
      Instruct your bank to take one-off payments by Direct Debit.
