%article.dashboard-total-group.govuk-grid-column-one-third
  %p.govuk-body{class: 'govuk-!-font-size-16 govuk-!-margin-top-9'}
    %strong
      = link_to('Help', help_path, id: 'help')
  %p.govuk-body Find out about zone maps, live dates, exemptions, refunds and how to contact us.
