%article.dashboard-total-group.govuk-grid-column-one-third
  %p.govuk-body{class: 'govuk-!-font-size-16 govuk-!-margin-top-9'}
    %strong
      = link_to('Help', '#TODO-CAZB-3380', id: 'dashboard-help')
  %p.govuk-body View maps, see when the zones are live, find out about exemptions and contact us.
