%article.dashboard-total-group.govuk-grid-column-one-third
  %p.govuk-body{class: 'govuk-!-font-size-16 govuk-!-margin-top-9'}
    %strong
      = link_to('Make a payment', payments_path, id: 'payment')
  %p.govuk-body Pay Clean Air Zone charges for your vehicles.
