%article.dashboard-total-group.govuk-grid-column-one-third
  %p.govuk-body{class: 'govuk-!-font-size-16 govuk-!-margin-top-9'}
    %strong
      = link_to('Manage administrators', manage_users_path, id: 'manage-users')
  %p.govuk-body Add and remove users who can manage your vehicles and payments.
