%article.dashboard-total-group.govuk-grid-column-one-third
  %p.govuk-body{class: 'govuk-!-font-size-16 govuk-!-margin-top-9'}
    %strong
      = link_to('Manage your vehicles', fleets_path, id: 'manage-vehicles')
  %p.govuk-body Upload your number plates and add or remove vehicles from your account.
