%article.dashboard-total-group.govuk-grid-column-one-third
  %p.govuk-body{class: 'govuk-!-font-size-16 govuk-!-margin-top-9'}
    %strong
      = link_to('Payment history', "#", id: 'payment-history')
  %p.govuk-body View the Clean Air Zone payments made within your company.
