%article.dashboard-total-group.govuk-grid-column-one-third
  %p.govuk-body{class: 'govuk-!-font-size-16 govuk-!-margin-top-9'}
    %strong
      = link_to('Payment history' , payment_history_path, id: 'payment-history')
  %p.govuk-body
    = link_description
