%article.dashboard-total-group.govuk-grid-column-one-third
  %p.govuk-body{class: 'govuk-!-font-size-16 govuk-!-margin-top-9'}
    %strong
      = link_to('Manage direct debit mandates', debits_path, id: 'direct-debit')
  %p.govuk-body
    Create a direct debit mandate to allow BACS payments
