- days_text = @days_count != 1 ? "#{@days_count} days" : "1 day"

.govuk-warning-text
  %span.govuk-warning-text__icon !
  %strong.govuk-warning-text__text
    %span.govuk-warning-text__assistive Warning
    = "Your password will expire in #{days_text}."
    = link_to 'Update it now', '#'
    