%article.dashboard-total-group.govuk-grid-column-one-third
  %p.govuk-body{class: 'govuk-!-font-size-16 govuk-!-margin-top-9'}
    %strong
      = link_to('Manage your fleet', fleets_path, id: 'manage-fleet')
  %p.govuk-body Add, edit and remove vehicles.
