%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Your fleet account
      %p  
        Your number plates (registration details) tell us if your vehicles meet emission standards in the Clean Air Zones. 
        If they don't, you can see what the charges are and pay them.
      .govuk-inset-text
        You need to upload all your number plates before making a payment.
  .govuk-grid-row
    = render 'manage_vehicles'
    = render 'make_payment'
