%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Your fleet account
      = render 'common/draft_tag'
      %p
        This service works by you telling us which vehicles have driven in a zone.
        The charge for each vehicle is calculated from your vehicle registration information.
      .govuk-inset-text
        You need to upload your number plates (registration details) before you can make a payment.
  .govuk-grid-row
    = render 'manage_vehicles'
    = render 'make_payment'
