- title_and_header = 'Account verification failed'
- content_for(:title, title_and_header)

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl= title_and_header
      %p This link has already been used to verify an account.
      %p
        If you already have an account you can
        = link_to('sign in', new_user_session_path, class: 'govuk-link')

      %p= link_to('Forgotten your password?', reset_passwords_path)
