# Google analytics tracking ID for production
GOOGLE_ANALYTICS_ID=
# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
SECRET_KEY_BASE=
# Used in token encryption for adding additional salt
ENCRYPTION_SERVICE_SALT=

# Configurable link to Feedback page e.g.(https://www.example.com)
# Default is welcome page if not set
FEEDBACK_URL=

# SQS configuration
NOTIFY_QUEUE_URL=
NOTIFY_TEMPLATE_ID=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# API url is needed for manage user accounts
ACCOUNTS_API_URL=

# URL to Payments UI app
PAYMENTS_UI_URL=

# URL to VCCS API
COMPLIANCE_CHECKER_API_URL=

# S3 configuration
S3_AWS_ACCESS_KEY_ID=
S3_AWS_BUCKET=
S3_AWS_SECRET_ACCESS_KEY=
S3_AWS_REGION=

# Redis configuration, e.g redis://someserver.com:6379/1
REDIS_URL=
