- email_alert = errors[:email]
.govuk-form-group{class: ('govuk-form-group--error' if email_alert.present?)}
  = form.label :email, 'Email address', class: 'govuk-label'
  - if email_alert.present?
    %span#email-error.govuk-error-message
      %span.govuk-visually-hidden Error:
      = email_alert.first
  = form.text_field :email,
                    autofocus: true,
                    autocomplete: 'email',
                    maxlength: 45,
                    class:determinate_input_class(email_alert)
