- password_alert = request.env['warden'].errors[:password]
.govuk-form-group{class: ('govuk-form-group--error' if password_alert.present?)}
  = form.label :password, class: 'govuk-label'
  %span.govuk-error-message#password-error
    - if password_alert.present?
      %span.govuk-visually-hidden Error:
      = password_alert.first
  = form.password_field :password,
                        autocomplete: 'current-password',
                        class: determinate_input_class(password_alert)
