- password_alert = errors[:password] if errors
.govuk-form-group{class: ('govuk-form-group--error' if password_alert)}
  = form.label :password, class: 'govuk-label'
  %span.govuk-error-message#password-error
    - if password_alert
      %span.govuk-visually-hidden Error:
      = password_alert.first
  = form.password_field :password,
                        autocomplete: 'current-password',
                        class: determinate_input_class(password_alert)
