%details.govuk-details{'data-module': 'govuk-details'}
  %summary.govuk-details__summary
    %span.govuk-details__summary-text
      I can't see the dates I want to pay for
  .govuk-details__text
    %p If the date you want to pay for is not displayed, it may be because:
    - if @d_day_notice
      %ul
        %li
          The Clean Air Zone charge came into operation on #{formatted_date(@zone.active_charge_start_date)}.
    - else
      %ul
        %li
          It is after 11.59pm on the 6th day after you drove in.
          %p A penalty charge notice (PCN) may be issued.
    %ul
      %li
        The date is too far in the future.
        %p Check back here closer to the date you need to pay for.
