= link_to 'Back', dashboard_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l First upload your vehicles
      %p You must upload vehicles before you can make any payments.

      = link_to 'Continue', submission_method_fleets_path, class: 'govuk-button'
