%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl Your account verification failed
      %p
        The fleets portal was unable to verify your account.
        Please contact the support team.
