.govuk-form-group
  = form.label :name, 'Name', class: 'govuk-label'
  = form.text_field :name,
                    class: 'govuk-input govuk-!-width-two-thirds',
                    maxlength: 45

.govuk-form-group
  = form.label :email_address, 'Email address', class: 'govuk-label'
  .govuk-hint This will be used to send an invite to create an account
  = form.text_field :email_address,
                    class: 'govuk-input',
                    maxlength: 45
