%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l
        = title

      %table.govuk-table
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header{scope: 'col'} Number plate
            %th.govuk-table__header{scope: 'col'} Dates
            %th.govuk-table__header{scope: 'col'} Total
        %tbody.govuk-table__body
          - @details.each do |vrn, details|
            %tr.govuk-table__row
              %th.govuk-table__header{scope: 'row'}
                = vrn
              %td.govuk-table__cell{scope: 'row'}
                - details[:dates].each do |date|
                  = parse_date(date)
                  %br
              %td.govuk-table__cell{scope: 'row'}
                = single_vrn_parsed_charge(details[:dates], details[:charge])
