%nav.moj-pagination.custom-pagination#pagination-label
  %p.govuk-visually-hidden{'aria-labelledby': 'pagination-label'}
    Pagination navigation
  %ul.moj-pagination__list
    - if @charges.previous_page?
      %li.moj-pagination__item.moj-pagination__item--prev
        = hidden_field_tag('payment[previous_vrn]', @charges.first_vrn)
        = form.submit 'Previous', class: 'moj-pagination__link'
    - if @charges.next_page?
      %li.moj-pagination__item.moj-pagination__item--next
        = hidden_field_tag('payment[next_vrn]', @charges.last_vrn)
        = form.submit 'Next', class: 'moj-pagination__link'
