%input.govuk-input.transform{name: 'payment[vrn_search]',
                             id: 'vrn-search',
                             type: 'text',
                             maxlength: 15,
                             value: @search,
                             class: 'govuk-input govuk-input--width-10'}
