%ol.govuk-list.govuk-list--number
  %li Download the CSV
  %li Fill in all of your vehicle’s registration numbers
  %li Upload the CSV below
%p
  If you need help, read the registration guide
%p
  Upload a CSV file
