%p
  To upload and override your existing fleet
%ul.govuk-list.govuk-list--bullet
  %li Download and fill in the CSV with all your vehicle registration numbers
  %li Upload it
%p
  If you need help, read the multiple vehicle registration guide
%p
  Upload a CSV file
