%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Reset password
      %p
        Password reset link is invalid or expired.
      %p
        = link_to('Send a new password reset email', reset_passwords_path, class: 'caz-inline-link')
