= link_to 'Back', reset_passwords_url, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Reset password
      = render 'common/draft_tag'
      %p
        Password reset link in invalid or expired.
      %p
        = link_to('Send a new password reset email', reset_passwords_path, class: 'caz-inline-link')
