= link_to 'Back', root_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Password

      = form_tag company_password_path, method: :post do
        .govuk-form-group
          .govuk-form-group
            %label.govuk-label{for: 'password'} Password
            %input.govuk-input.govuk-input--width-20{type: 'password'}

        .govuk-form-group
          .govuk-form-group
            %label.govuk-label{for: 'confirm-password'} Confirm Password
            %input.govuk-input.govuk-input--width-20{type: 'password'}

        = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
