%h2.govuk-tabs__title
  Contents
%ul.govuk-tabs__list
  %li#view-charges.govuk-tabs__list-item{class: selected_tab == 'view-charges' ? 'govuk-tabs__list-item--selected' : '', role: 'presentation'}
    = link_to('View charges', fleets_path, class: 'govuk-tabs__tab')
  %li.govuk-tabs__list-item{class: selected_tab == 'edit-vehicle-list' ? 'govuk-tabs__list-item--selected' : '', role: 'presentation'}
    = link_to('Edit vehicle list', edit_fleets_path)
