@import 'govuk-frontend';
@import 'hmrc-frontend';
@import 'ministryofjustice-frontend';
@import 'cookie-control';
@import 'custom-pagination';
@import 'payment-summary';

html {
  background-color: govuk-colour($colour: 'light-grey');
}

.transform {
  text-transform: uppercase;
}

.custom-csv-error {
  color: govuk-colour($colour: 'red');
  font-weight: 700;
}

.moj-pagination {
  margin-bottom: 30px;
}

.draft-tag {
  margin-bottom: 10px;
}

.vehicle-management-column-static {
  white-space: nowrap;
  width: 22.5%;
}

.vehicle-management-column-dynamic {
  white-space: nowrap;
}

@media (max-width: 40.0525em) {
  .scrollable-table {
    overflow: scroll;
    margin-bottom: 20px;
  }
}

.matrix-table-past {
  .govuk-table__cell {
    width: 14%;
  }

  .govuk-table__cell.vrn {
    width: 16%;
  }
}

@media print {
  .govuk-back-link {
    width: 100%;
  }
}

.hidden {
  display: none;
}

.disabled-link {
  pointer-events: none;
  user-select: none;

  &.transparent {
    opacity: .6;
  }
}

.dashboard-total-group:nth-child(3n+1) {
  clear: left;
}

.results-per-page-select {
  float: right;
}

.number-plate-header {
  width: 25%;
}

.date-of-entry-header {
  width: 40%;
}

.charge-header {
  width: 15%;
}

.case-reference-header {
  width: 20%;
}
