$hmrc-assets-path: '/packs/media/';

@import '~hmrc-frontend/hmrc/all';

.hmrc-account-icon--home {
  background-image: url("#{$hmrc-assets-path}images/icon-home.png");
}

.hmrc-account-menu__link--back {
  background-image: url("#{$hmrc-assets-path}images/icon-chevron-left.svg");
}

.js-enabled .hmrc-account-menu__link--menu,
.js-enabled .is-smaller .hmrc-account-menu__link--more {
  background-image: url("#{$hmrc-assets-path}images/icon-chevron-right.svg");
}

.js-enabled .hmrc-account-home--account--is-open,
.js-enabled .is-smaller .hmrc-account-menu__link--more-expanded,
.js-enabled .hmrc-account-menu__link--more {
  background-image: url("#{$hmrc-assets-path}images/icon-chevron-down.svg");
}

.js-enabled .hmrc-account-menu__link--more {
  background-image: url("#{$hmrc-assets-path}images/icon-chevron-down.svg");
}
