- email_alert = request.env['warden'].errors[:email]
.govuk-form-group{class: ('govuk-form-group--error' if email_alert.present?)}
  = form.label :email, class: 'govuk-label'
  %span#email-error.govuk-error-message
    - if email_alert.present?
      %span.govuk-visually-hidden Error:
      = email_alert.first
  = form.text_field :email,
                    autofocus: true,
                    autocomplete: 'email',
                    maxlength: 45,
                    class: "govuk-input govuk-!-width-two-thirds #{'govuk-input--error' if email_alert.present?}"
