- title_and_header = 'Sign out successful'
- content_for(:title, title_and_header)

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = title_and_header
      %p
        = link_to 'Pay a Clean Air Zone charge',
                  Rails.configuration.x.payments_ui_url,
                  target: '_blank',
                  class: 'govuk-link',
                  id: 'sign-out'
      %p
        = link_to 'Log in to your account',
                  new_user_session_path,
                  id: 'sign-in'
