- title_and_header = 'You do not have access to this link'
- content_for(:title, title_and_header)

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-l
        = title_and_header

      %p A payment history download link can only be accessed via the email address it was sent to.
