= link_to 'Back', payments_path, class: 'govuk-back-link'

%main.govuk-main-wrapper.govuk-main-wrapper--auto-spacing#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-l
        Which vehicles and days are you paying for?
      %p
        A daily charge runs from midnight to midnight.
      %p
        You can pay for the past 6 days and the next 7 days, which includes today.
