- title_and_header = 'Charge details'
- content_for(:title, title_and_header)

= link_to 'Back', review_payments_path, class: 'govuk-back-link'

= render partial: 'payment_details', locals: { title: title_and_header }

%p
  = link_to 'Return to review your payment', review_payments_path
