%p
  When filling in the number plates follow these rules so your data uploads correctly:
%ul.govuk-list.govuk-list--bullet
  %li The number plates can only be between 2 and 7 characters
  %li Only letters and numbers are allowed
  %li Number plates need to be entered in the first column only
  %li There is no limit to the size of the file

%p
  Once your file is filled in:

%ol.govuk-list.govuk-list--number
  %li
    Save is as .CSV - the name of the file does not matter
    %br
    (Go to file &gt; save as &gt; .CSV (comma delimited)).
  %li Choose the file.
  %li Upload the file.
%p
= form_tag(uploads_path, multipart: true) do
  .govuk-form-group{class: ('govuk-form-group--error' if alert)}
    %label.govuk-label{for: "file-upload-1"}
      %span{class: 'govuk-visually-hidden'} File
    - if alert
      %span#govuk-error-message.govuk-error-message
        %span.govuk-visually-hidden Error:
        = alert
    %input#file-upload-1.govuk-file-upload{class:('govuk-file-upload--error' if alert),
                                           'aria-describedby': 'file-upload-1',
                                           name: 'file',
                                           type: 'file'}
  .govuk-form-group
    = submit_tag 'Upload file', class: 'govuk-button', 'data-module': 'govuk-button'
