%h1.govuk-heading-l Replace and upload a new list of vehicles
%p
  To add vehicles to your account, you can either use your own spreadsheet or
  = succeed('.') do
    = link_to('download a template (CSV, 1KB)', download_template_uploads_path)
