%h1.govuk-heading-l Upload your vehicle list
%p
  To add vehicles to your account, you can either use your own spreadsheet or download a
  = succeed('.') do
    = link_to('template (CSV, 1KB)', download_template_uploads_path)
