%h1.govuk-heading-l Upload your vehicle list
%p
  To add vehicles to your account, you can either use your own spreadsheet or download a
  = link_to('template', download_template_uploads_path)
  (CSV, 1KB).
