.moj-banner.moj-banner--success
  %svg.moj-banner__icon{fill: 'currentColor',
                        focusable: 'false',
                        height: '25',
                        role: 'status',
                        viewbox: '0 0 25 25',
                        width: '25',
                        xmlns: 'http://www.w3.org/2000/svg'}
    %path{d: 'M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z'}
  .moj-banner__message
    %span.moj-banner__assistive> Success
    = message
