<% if current_user && !current_page?(logout_notice_path) %>
  <% timeout_in_minutes = Rails.configuration.x.session_timeout_in_min %>

  <%# Accessible method of hiding content visually that can be read by a screen reader. %>
  <%# source: https://webaim.org/techniques/css/invisiblecontent/#offscreen %>
  <div class="hidden">
    You will be logged out automatically after
    <%= timeout_in_minutes %>
    minutes of inactivity.
  </div>

  <%= javascript_tag do %>
    var timeoutTimeInMinutes = parseInt('<%= timeout_in_minutes %>');
    var redirectTimeInMinutes = timeoutTimeInMinutes - 1;
    var timeOffset = 1000 * 60 * redirectTimeInMinutes;

    setTimeout(function() {
      var logoutNoticePath = '<%= logout_notice_path %>'

      window.location.replace(logoutNoticePath);
    }, timeOffset);
  <% end %>
<% end %>
